.step(data-file='models/User.js', data-highlight='110-125')
  :markdown
    ## Sending a 2FA Token

    ![2FA Flow Chart Step 5](//s3.amazonaws.com/howtodocs/2fa-flow5.png)

    Once there is an Authy user ID associated with our user model, we can request that an SMS verification token be sent out to the user's phone. Authy supports token validation in their mobile app as well, so if our user has the app it will default to sending a push notification instead of an SMS.

    We can call this method on the user instance multiple times if needed, which is what happens every time the user clicks "Resend Code" on the web form we are about to look at!

.step(data-file='api/sessions.js', data-highlight='89-112')
  :markdown
    ## Validating the Code

    ![2FA Flow Chart Step 8](//s3.amazonaws.com/howtodocs/2fa-flow8.png)

    Back in our Express route handler, we grab the code that was submitted from the form to validate. We have [Connect middleware](http://stephensugden.com/middleware_guide/) function that executes before this handler and adds a `user` property to the `request` object that contains a Mongoose model instance representing the user associated with this session. We use `verifyAuthyToken` on the `User` model to check if the code submitted by the user is legit.

.step(data-file='models/Session.js')
  :markdown
    ## Where to next?

    That's it! We've just implemented two-factor auth using three different methods and the latest in Authy technology.

    If you're a Node.js developer working with Twilio, you might want to
    check out these other tutorials.

    [**Account Verification**](//www.twilio.com/docs/howto/walkthrough/account-verification/node/express)

    Increase the security of your login system by verifying a user's mobile
    phone.

    [**Server
    Notifications via SMS**](//www.twilio.com/docs/howto/walkthrough/server-notifications/node/express)

    Faster than e-mail and less likely to get blocked, text messages are great for timely alerts and notifications. Learn how to send out SMS (and MMS) notifications to a list of server administrators.

    ### Did this help?

    Thanks for checking out this tutorial! If you have any feedback to share 
    with us, we'd love to hear it. Tweet [@twilio](http://twitter.com/twilio) 
    to let us know what you think.