<h1>Let's Show 2FA with Twilio Account Security!</h1>
<p>
    Doing two-factor authentication (2FA) at a level of excellence 
    can be tricky. Let's demonstrate how to use the
    <a href="http://authy.com">Authy</a> app (powered by 
    <a href="http://www.twilio.com">Twilio</a>) and implement Two-Factor 
    authentication in a snap.
</p>
<p>
    <% if (user) { %>
    Go to your <a href="#user">user page</a> now.
    <% } else { %>
    <a href="#signup">Sign Up</a> or <a href="#login">Log In</a> to get started.
    <% } %>
</p>